body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background: #f4f4f4;
}

#wordInput {
    padding: 10px;
    width: 250px;
    margin-bottom: 100px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
